/* HEADER */

.webDesign #carpa{
    /* PRIMERA OPCION CABECERA SECUNDARIA */
    /* margin-top: 80px;
    margin-left: 10px;
    width: 1400px;
    height: 200px; */
    

    
    /* TERCERA OPCION CABECERA PRINCIPAL */
    margin-right: 700px;
    width: 1100PX;
    height: 100px;
    margin-top: 30px;

    /* CUARTA OPCION CONTENIDO PARTE MEDIA */
    
    /* width: 1160px;
    height: 110px; */
}

.webDesign #soporte1{
   position:absolute;
    width: 10px;
    height: 1500px;
    margin-right: 1000px;
}

.imgLogo img{
    width: 200px;
    height: 35px;
}

.cardImages{
   
    background-color: #191c24;
    border-radius: 0.25rem;
    width: 1120px;
   
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem; 
}

.cardImages .secImages{

    margin-left: 35%;
    display: flex;
    width: 300px;
    height: 450px;
}

.cardImages .secImages img{
    width: 30px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.cardImages .secImages img:hover{
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
}

/* PRODUCTOS */
.swiper {

    width: 800px;
    height: 400px;
    padding: 120px 0 0px;

}

.swiper-slide{
    width: 100px;
    height: 500px;
    background-color: #191c24;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i{
    color: #FFB900;
}

.icons img{
    width:  120px;
}

.product-content {
    display: flex;
    justify-content: space-between;

}


.product-txt {
    flex-basis: 50%;
    text-align: left;
}

.product-txt span {
    color: #FFB900;
}

.product-txt h3 {

    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.product-txt p {
    font-size: 14px;
    color: #c4c4c4;
}

.product-img {
    
    text-align: right;
    margin-right: 320px;
}

.product-img img {
    position: absolute;
    width: 200px;
    
}



.viewsImg  img{
    
    display: flex;
    flex-direction: column;
    width: 76px;
    height: 75px;
    border: 2px solid white;
    margin-top: 3px;
}

.btn-1 {
    text-decoration: none;
    
    padding: 13px 55px;
    border: 1px solid #FFB900;
    border-radius: 25px;
    color: #FFB900;
    
    margin-top: 50px;
    margin-right: 550px;
}

/* FOOTER */
/* .footerTxt h5{
    display: inline-block;
    padding-left: 100px;
    
    
} */

/* .blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d; 
  }
.blockquote-footer::before {
    content: "\2014\00A0"; 
} */

/* .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125); }
.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); 
}
   */


   /* .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.6875rem;
    border-top: 1px solid #2c2e33;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px); }
    .modal-footer > * {
      margin: 0.25rem; 
    } */
  

.footer a {
    color: #00d25b;
    font-size: inherit; 
}
@media (max-width: 991px) {
    .footer {
      margin-left: 0;
      width: 100%; } 
}



.footerImg{
    
  display: flex;
  

}

.footerImg img {
    margin-right: 100px;
    width: 200px;
    height: 100px;
    
}
.red-social{

  display: flex;
  margin: 20px;
  padding-right: 150px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.footerImg .red-social{
    margin-top: 68px;
    margin-left: 100px;
    
}

.contactos{
    margin-right: 100px;
}

.footerImg .red-social h5{
    padding-left: 70px;
}

.footerImg .red-social a {

    
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #F15A24;
    text-align: center;
    transition: all 300ms ease;
}
.red-social .Parte3{
    position: absolute;
}

.red-social .Parte3 img:hover{

    box-shadow: red -3px 0, cyan 3px 0;

}
.red-social .Parte3 img{
    width: 370px;
    height: 100px;
    margin-top: 150px;
    margin-left: 100px;
}


.footerCopy{
    margin-top: 10px;
    
    
    
}
.footerCopy span{
   color: #0d2033;
   position:absolute;
   margin-top: 150px;
   margin-left: 450px;
   
  

}

/* .footerCopy .backgroundF{

    
} */
.footer .backgroundF img{
    
    width: 1150px;
    height: 200px
}

/* BOTONES */



/* .bt-1{
    overflow: hidden;
    border: 3px solid  #F15A24 ;
    z-index: 1;
}

.bt-1 ::before{

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #F15A24;
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}

.footerImg .bt1 :hover ::before{
    top: 0;
    border-radius: 0%;
} */

.horario{
    
 position:sticky;
 
   
   
}
.horario img{
    width: 250px;
    height: 320px;
}

.comingSoonNav img{

    width: 80px;
    height: 35px;

}
